---
layout: layouts/base.njk
permalink: /
eleventyNavigation:
key: Home
order: 0
---
<style>header {background: none;}
.ynk-nav {background: none;}
</style>
<div id="bg">
  <img src="images/assets/YNK_Splash_2.jpg" alt="">
