<header>
    <div class="main-header">
    <div class="ynk-logo">
        <a href="/">≠</a>
    </div>
    <nav class="main-nav">
        <ul>
            <li><a href="{{ '/about/' | url }}">About</a></li>
            <li><a href="{{ '/events/' | url }}">Events</a></li>
            <li><a href="{{ '/contact/' | url }}">Contact</a></li>
        </ul>
    </nav>
    </div>
</header>