<header>
    <nav>
        <div class="ynk-logo">
            <a href="/">≠</a>
        </div>

        <ul class="ynk-sosmed">
            <li>
                <a href="https://www.instagram.com/yesnoklub/"
                    target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li>
                <a href="https://www.facebook.com/yesnoklubyk"
                    target="_blank">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>

            <li>
                <a chref="https://soundcloud.com/yesnoklub"
                    target="_blank">
                    <i class="fab fa-soundcloud"></i>
                </a>
            </li>
        </ul>

        <ul class="ynk-nav">
            <label for="hamburger">&#9776;</label>
            <input type="checkbox" id="hamburger" />
            <li><a href="{{ '/about/' | url }}">About</a></li>
            <li><a href="{{ '/events/' | url }}">Events</a></li>
            <li><a href="{{ '/contact/' | url }}">Contact</a></li>
        </ul>
    </nav>
</header>