---
layout: layouts/base.njk
permalink: /contact/
---
<div class="ynk-contact">
  <h3>Send us stuff</h3>
  <form name="contact" method="POST" netlify-honeypot="bot-field"
    data-netlify="true" action="/success/" autocomplete="off">
    <p class="hidden">
      <label>Are you: <input name="bot-field" /></label>
    </p>
    <p>
      <label>Name: <input type="text" name="name" /></label>
    </p>
    <p>
      <label>Email: <input type="email" name="email" /></label>
    </p>
    <p>
      <label>Message: <textarea name="message"></textarea></label>
    </p>
    <p>
      <button class="ynk-contact-btn" type="submit">Send</button>
    </p>
  </form>
</div>