---
layout: layouts/base.njk
permalink: /success/
---
<div class="ynk-contact">
  <h3>Thanks</h3>
  <div class="ynk-success">
    <h4>Your message has been sent</h4>
    <a href="/contact/">&#60; Back</a>
  </div>
</div>