<html>

  {% include "components/head.njk" %}

  <body>

    <div class="main-container">

      {% include "components/header.njk" %}
      {{ content | safe }}

    </div>

    <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
    
     <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
       <script src="/js/site.js"></script>
       <script src="/js/lightbox.js"></script>
 
  </body>

</html>