<ul class="event-container">
  {% for events in eventslist | reverse %}
    <li>
    <a href="{{ events.url | url }}">
    <div class="event-inner">
      <div class="event-details">
        <div class="event-name">
        {{ events.data.title }}</div>
      <div class="event-date"><time datetime="{{ events.date | htmlDateString }}">{{ events.date | readableDate }}</time></div>
      <div class="event-venue">@ {{ events.data.venue }}</div>
      </div>
      <img src="{{ events.data.flyer | url }}" alt="{{ events.data.title }}"></img>
    </div></a>
    </li>
  {% endfor %}
</ul>
