---
layout: layouts/base.njk
---
<div class="e-container">
    <div class="e-details">
        <div class="e-title"><h2>{{ title }}</h2></div>
        <div class="e-date"><h4>{{ date | readableDate }}</h4></div>
        <div class="e-time"><h4>{{ time }}</h4></div>
        <div class="e-venue">@ {% if venueURL %}<a href="{{ venueURL }}" target='_blank'>{% endif %}{{ venue }}</a></div>
    </div>
    <div class="e-image">
        <img src="{{ flyer | url }}" alt="{{ flyer }}"></img>
    </div>
    <div class="e-body">
        {% if info %}<div class="e-info"><h4>{{ info }}</h4></div>{% endif %}
        {% if with %}<div class="e-with-word"><p>with:</p></div>{% endif %}
        {% if with %}<div class="e-with"><h4>{{ with }}</h4></div>{% endif %}
        <div class="e-content">{{ content | safe }}</div>
    </div>
</div>
