.a-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0 1.25rem;
    margin-top: 1.5rem;
    max-height: 640px;
    h4 {
        font-size: 90%;
        font-weight: 100;
        line-height: 1.25rem;
        margin-bottom: 0.9rem;
        a {
            color: color(primary);
            &:hover {
                color: color(hover);
            }
        }
        @include phone {
            font-size: 100%;
            line-height: 1.4rem;
        }
    }
    h3 {
        text-transform: uppercase;
        @include phone {
            font-size: 1.1rem;
            line-height: 1.5rem;
        }
    }
    .a1 {
        text-align: left;
    }
    a {
        text-transform: none;
        color: color(secondary);
    }
    @include medium {
        grid-template-columns: 1fr 3fr;
        div {
            text-align: left;
        }
    }
    @include desktop {
        grid-template-columns: 1fr 3fr 3fr;
        .a1 {
            text-align: right;
        }
    }
}

.space {
    @include desktop {
        display: none;
    }
}