.e-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0 1.25rem;
    @include margin-top;
    max-height: 640px;
    @include medium {
        grid-template-columns: 1fr 3fr;
    }
    @include desktop {
        grid-template-columns: 1fr 3fr 3fr;
    }
}

.e-details {
    .e-title {
        margin-top: -0.1rem;
        line-height: 1.5rem;
    }
    .e-date {
        margin-top: 0.5rem;
    }
    .e-venue,
    .e-pagination {
        margin-top: 0.5rem;
        font-size: 0.9rem;
        text-transform: uppercase;
        a:hover {
            @include transition;
            color: color(primary);
        }
    }
    .e-pagination {
        margin-top: -0.5rem;
        margin-bottom: 0.9rem;
    }
    @include phone {
        .e-venue {
            margin-bottom: 0.9rem;
        }
        .e-pagination {
            position: absolute;
            right: 0;
            margin-top: -2.1rem;
        }
    }
    @include small {
        .e-venue {
            margin-bottom: 0.9rem;
        }
        .e-pagination {
            position: absolute;
            right: 0;
            margin-top: -2.1rem;
        }
    }
    @include medium {
        text-align: right;
        .e-pagination {
            position: relative;
            margin-top: -0.5rem;
            margin-bottom: 0.9rem;
        }
    }
    @include desktop {
        text-align: right;
        .e-pagination {
            position: relative;
            margin-top: -0.5rem;
            margin-bottom: 0.9rem;
        }
    }
}

.e-image {
    margin-bottom: 1.5rem;
    img {
        width: 100%;
        height: auto;
        border-radius: 0.5%;
    }
}

.e-body {
    margin-top: -0.25rem;
    .e-info {
        font-weight: 300;
        margin-bottom: 0.9rem;
    }
    .e-with-word {
        font-weight: 300;
        color: color(primary);
    }
    .e-with {
        margin-top: 0.9rem;
        margin-bottom: 0.9rem;
    }
    @include medium {
        grid-column: 2/3;
    }
    @include desktop {
        grid-column: 3/4;
    }
}