header {
    position: sticky;
    top: 0;
    z-index: 1;
    background: color(base);
    nav {
        display: grid;
        grid-template-columns: 1fr 3fr 3fr;
        grid-gap: 0 1.25rem;
        align-items: center;
        .ynk-logo {
            z-index: 10;
            font-family: 'BioRhyme Expanded', serif;
            font-weight: 900;
            font-size: 4rem;
            line-height: 4rem;
            color: color(primary);
            padding-bottom: 0.7rem;
            .active {
                color: color(secondary);
            }
        }
        .ynk-sosmed {
            display: flex;
        }
    }
    ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        font-size: 0.9rem;
        list-style: none;
        li {
            margin-left: 1rem;
            margin-right: 0;
        }
    }
    .ynk-sosmed {
        z-index: 10;
        .fab {
            font-size: 1.5rem;
            margin-left: .25rem;
        }
        @include small {
            justify-content: flex-start;
        }
        @include medium {
            justify-content: center;
        }
        @include desktop {
            justify-content: flex-end;
        }
    }
    a {
        color: color(primary);
    }
}

.ynk-nav {
    position: absolute;
    right: 0;
    li {
        .active {
            color: color(secondary);
        }
    }
}

.ynk-nav label,
#hamburger {
    display: none;
}

@include phone {
    .ynk-nav label {
        display: inline-block;
        font-family: 'BioRhyme Expanded', serif;
        font-size: 2.25rem;
        text-align: right;
        margin-top: .4rem;
    }
    .ynk-nav {
        box-sizing: border-box;
        display: block;
        width: 100%;
        text-align: right;
        li {
            display: none;
        }
        input:checked~li {
            display: flex;
            grid-template-columns: 1fr 1fr 1fr;
            justify-content: flex-end;
            font-size: 1.25rem;
            line-height: 2.25rem;
            padding-top: 2rem;
            padding-bottom: 2rem;
            margin: 0;
            background: color(base);
        }
    }
    .ynk-nav label,
    #hamburger {
        &:hover {
            color: color(hover);
            cursor: pointer;
        }
    }
}