header {
    position: sticky;
    top: 0;
    z-index: 1;
    background: color(base);
    nav {
        display: grid;
        grid-template-columns: 1fr 3fr 3fr;
        grid-gap: 0 1.25rem;
        align-items: center;
        .ynk-logo {
            font-family: 'BioRhyme Expanded', serif;
            font-weight: 900;
            font-size: 4rem;
            line-height: 4rem;
            color: color(primary);
            padding-bottom: 0.7rem;
            .active {
                color: color(secondary);
            }
        }
        .ynk-sosmed {
            display: flex;
        }
    }
    ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        font-size: 0.9rem;
        list-style: none;
        li {
            margin-left: 1rem;
            margin-right: 0;
        }
    }
    // .ynk-nav {
    //     @include phone {
    //         display: none;
    //     }
    // }
    .ynk-sosmed {
        .fab {
            font-size: 1.5rem;
        }
    }
    a {
        color: color(primary);
    }
}

.ynk-nav {
    li {
        .active {
            color: color(secondary);
        }
    }
}