header {
    position: sticky;
    top: 0;
    z-index: 1;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: color(base);
    nav {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        align-items: center;
        .ynk-logo {
            z-index: 10;
            svg {
                height: 30px;
                path {
                    fill: color(primary);
                    @include transition;
                    &:hover {
                        fill: color(hover);
                    }
                }
            }
        }
    }
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    list-style: none;
}

.ynk-sosmed {
    z-index: 10;
    .fab {
        font-size: 1.5rem;
        color: color(primary);
        margin-left: 1rem;
        margin-right: 1rem;
        @include transition;
        &:hover {
            color: color(hover);
        }
    }
}

.ynk-nav {
    li {
        font-size: 0.9rem;
        margin-left: 2rem;
        margin-right: 0;
        a {
            color: color(primary);
            @include transition;
            &:hover {
                color: color(hover);
            }
        }
    }
}

// current
.ynk-nav {
    li {
        .active {
            color: color(secondary);
        }
    }
}

// hamburger
.ynk-nav label,
#hamburger {
    display: none;
}

@include phone {
    .ynk-nav label {
        display: inline-block;
        width: 30px;
        height: 30px;
        .hamburger-btn {
            width: 30px;
            height: 6px;
            justify-content: center;
            background: color(primary);
            transform: translateY(6px);
            @include transition;
        }
        .hamburger-btn::after {
            content: '';
            position: absolute;
            right: 0;
            width: 30px;
            height: 6px;
            background: color(primary);
            @include transition;
        }
        .hamburger-btn::after {
            transform: translateY(12px);
        }
    }
    .ynk-nav {
        box-sizing: border-box;
        display: block;
        width: 100%;
        text-align: right;
        li {
            display: none;
        }
        input:checked~li {
            display: flex;
            grid-template-columns: 1fr 1fr 1fr;
            justify-content: flex-end;
            font-size: 1.25rem;
            line-height: 2.25rem;
            padding-top: 2rem;
            margin: 0;
            background: color(base);
        }
    }
    .ynk-nav label {
        &:hover {
            cursor: pointer;
            .hamburger-btn,
            .hamburger-btn::after {
                background: color(hover);
            }
        }
    }
}