#bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}

#bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}

.ynk-front {
    position: absolute;
    width: 135px;
    margin-top: 4px;
    font-size: 1rem;
    line-height: 2rem;
    color: color(primary);
    h4 {
        font-size: 0.82rem;
        line-height: 1.5rem;
        font-weight: 100;
        color: color(secondary);
        margin-top: 0.25rem;
    }
     :before {
        display: inline-block;
        margin-bottom: 10px;
        margin-top: 10px;
        height: 1px;
        content: ' ';
        text-shadow: none;
        background: color(secondary);
        width: 135px;
    }
     :after {
        display: inline-block;
        margin-top: 10px;
        height: 1px;
        content: ' ';
        text-shadow: none;
        background: color(secondary);
        width: 135px;
    }
    h4:before {
        background: color(primary);
        margin-bottom: 5px;
    }
    h4:after {
        background: color(primary);
        margin-top: 7px;
    }
}