@import 'mixins';
@import 'header';
@import 'burger';
@import 'index';
@import 'about';
@import 'eventslist';
@import 'event';
@import 'contact';
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 1rem;
    margin-top: 2rem;
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
    letter-spacing: 0.1rem;
    background: color(base);
    color: color(primary);
    scroll-behavior: smooth;
    transition: all ease-in-out;
}

::-webkit-scrollbar {
    display: none;
}

* html {
    box-sizing: border-box;
}

h1,
h2,
h3 {
    font-family: 'BioRhyme Expanded', serif;
}

h3 {
    font-family: 'BioRhyme', serif;
    font-size: 1.2rem;
    line-height: 1.69rem;
    font-weight: 400;
    color: color(primary);
    margin-bottom: 0.9rem;
}

p {
    margin-bottom: 0.9rem;
    color: color(secondary);
}

a,
a:active {
    color: color(secondary);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
}

a:hover {
    color: color(hover);
    cursor: pointer;
}

.main-container {
    position: relative;
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
}